<!-- Bootstrap -->
<link rel="stylesheet" href="/external/bootstrap/dist/css/bootstrap.min.css">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" href="/external/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">

<!-- FontAwesome -->
<link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">

<!-- Roboto Font Face -->
<link rel="stylesheet" href="/external/roboto-fontface/css/roboto/roboto-fontface.css">

<!-- Site CSS -->        
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/projects.css">
<link rel="stylesheet" href="/static/css/syntax.css">